{% extends 'base.html' %}


{% block title %}关于{% endblock %}
{% block main %}
    <div class="container mt-3">
        <h2>中文 DOS 游戏 🎮</h2>
        <h3>项目地址</h3>
        <p><a href="https://github.com/rwv/chinese-dos-games">https://github.com/rwv/chinese-dos-games</a></p>

        <h3>游戏列表</h3>
        <p>
            {% if games %}
                <ul>
                    {% for key, game_info in games.items() %}
                        <li>
                            <a href="{{ url_for('game', identifier=game_info['identifier']) }}">{{ game_info['name']['zh-Hans'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>

        <h3>感谢</h3>
        <p>
        <ul>
            <li><a href="https://github.com/dreamlayers/em-dosbox" target="_blank">dreamlayers/em-dosbox: An Emscripten
                port of DOSBox</a></li>
            <li><a href="https://github.com/db48x/emularity" target="_blank">db48x/emularity: easily embed emulators</a></li>
                
        </ul>
        </p>
        <h3>许可</h3>
        <p><a href="https://www.gnu.org/licenses/gpl-3.0.html">The GNU General Public License v3.0</a></p>
    </div>
{% endblock %}

