{% extends 'base.html' %}


{% block title %} 首页 {% endblock %}
{% block main %}
    <div class="container mt-3 grid">
        {% if games %}
            {% for key, game_info in games.items() %}
                <div class="card grid-item mb-3 mr-3">
                    <a href="{{ url_for('game', identifier=game_info.identifier) }}">
                        <img class="card-img-top"
                             src="{{ url_for('static', filename='img/games/{}/{}'.format(game_info.identifier, game_info.coverFilename)) }}"
                             alt="{{ game_info['name']['zh-Hans'] }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ game_info['name']['zh-Hans'] }}</h5>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="grid">
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
    <script>
        $(document).ready(function () {
            var $container = $(".grid");
            $container.masonry();

            $container.imagesLoaded()
            .progress(function (instance, image) {
                $container.masonry();
            });
        });
    </script>
{% endblock %}