{% extends 'base.html' %}


{% block title %}{{ game_info["name"]["zh-Hans"] }} Saves{% endblock %}
{% block main %}
    <div class="container mt-3">
        <h1>{{ game_info["name"]["zh-Hans"] }}经典存档合集</h1>
        {% if game_info.sampleSaves %}
            <ul>
                {% for desription in game_info.sampleSaves.descriptions %}
                    <li>
                        <a href="{{ url_for('game_save', identifier=game_info['identifier'], save_number=loop.index-1) }}">{{ desription }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

